extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium mollis libero in mattis. Nam libero lacus, lacinia et erat posuere, accumsan venenatis nisi. In nec placerat ante. Integer sapien mauris, bibendum a diam et.
                p placerat sodales turpis, nec pulvinar justo egestas a. Ut eu leo metus. Nunc ac lectus sit amet sapien mollis aliquam. Mauris pellentesque id orci nec auctor. Duis ac pellentesque ipsum. Sed felis magna, elementum et dignissim eget, pretium at lectus. Suspendisse id arcu non sapien sodales posuere eget sed est.
                p tempus sed justo vel faucibus. Sed ut fringilla tortor. Donec dignissim ac sapien commodo tincidunt.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque et maiores consectetur doloremque.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, expedita libero quibusdam esse.
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb4")
                    h2.mb-4 Mejor precio
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, neque quos vel suscipit rerum.